.about-me {
    // flex-direction: column;
    flex-flow: column;
    align-items: center;
    padding: 4rem 2rem 16rem;
    background-color: var(--primary-color-dark);

    img {
        border: 3px solid whitesmoke;
        height: 10rem;
        width: 10rem;
        transform: translateY(50%);
        object-fit: cover;
        object-position: center center;
    }

    .about-container {
        background-color: #f7fafc;
        display: grid;
        row-gap: 1.2rem;
        width: 67%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        padding: 9rem 2rem 4rem;
        border-radius: 0.5rem;
        margin: 0px auto;
    }

    .about-title {
        color: #6610F2;
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-align: center;
    }
}