.contact-me {
    background-color: #f7fafc;
    flex-direction: column;
    align-items: center;
    padding: 8rem 5rem;

    .contact-title {
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 4rem;
        letter-spacing: 2px;
        font-weight: 700;
    }

    .contact-form {
        width: 60%;
    }

    .w-1\/2 {
        width: 49% !important;
    }

    .form-input {
        background-color: inherit;
        font-size: 1rem;
        font-family: inherit;
        width: 100%;
        border-radius: 5px;
        transition: all 0.3s ease 0s;

        &:focus {
            outline: none;
            border-color: blue !important;
        }
    }

    textarea {
        margin: 0px;
        width: 671px;
        height: 132px;
    }

    button {
        background-color: #6610F2;
        color: rgb(255, 255, 255);
        transition: all 0.3s ease 0s;

        &:hover {
            transform: translateY(-2px);
        }
    }
}