.home-pages {
    .landing {
        background-color: #6610F2;
        height: 90vh;
        clip-path: ellipse(150% 100% at 50% 0%);
    }

    .header-details {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-content {
        width: 50%;
    }

    h1 {
        color: #e2e8f0;
        line-height: 1.3;
        letter-spacing: 2px;
        font-size: 2rem;
    }

    p {
        color: #f7fafc;
        letter-spacing: 1px;
    }

    li {
        color: #6610F2;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        font-weight: 400;
        font-size: 1rem;
        text-decoration: none;
        transition: all 0.2s ease 0s;

        &:hover {
            color: white;
            background-color: #ffd227;
            transform: translateY(-2px);
        }
    }
}