.portfoil {
    display: grid;
    row-gap: 5.5rem;
    background-color: rgb(255, 255, 255);
    padding: 2rem 3rem;

    h4 {
        letter-spacing: 2px;
        text-align: center;
        color: #a0aec0;
    }

    .portfoils {

        .prev,
        .next {
            font-size: 2rem;
            font-weight: 900;
            transition: all 0.2s ease 0s;

            &:hover {
                color: #6610F2;
            }
        }
    }

    .portfoil-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        grid-column-gap: 3rem;
        padding: 0px 2rem 5rem;
        gap: 1rem;

        img {
            max-height: 18rem;
            max-width: 40rem;
        }

        .portfolio-details {
            display: grid;
            row-gap: 1.2rem;
            justify-items: start;

            .btn-portfolio {
                display: inline-block;
                text-transform: uppercase;
                letter-spacing: 1px;
                position: relative;
                font-weight: 400;
                font-size: .6rem;
                text-decoration: none;
                transition: all 0.2s ease 0s;
                border-width: initial;
                border-style: none;
                border-color: initial;
                border-image: initial;
                border-radius: 100px;
                background-color: #6610F2;
                color: rgb(255, 255, 255);

                &:hover {
                    transform: translateY(-2px);
                    background-color: #664cec;
                }
            }
        }

        .fade-show {
            animation-name: fade;
            animation-duration: 1.7s;
        }
    }
}