.webNavBar {
    .web-nav-content {
        align-items: center;
        padding: 1.3rem 3rem;
        background-color: var(--primary-color-dark);
        color: rgb(255, 255, 255);
        position: fixed;
        top: 0px;
        z-index: 100;
        width: 100%;

        ul {
            margin: 0;
            padding: 0;

            li {
                font-size: .9rem;
                margin-right: 1rem;
                cursor: pointer;
                list-style: none;

                &:hover {
                    color: #f3c000;
                }
            }
        }
    }
}