.webContentLayout {
    display: grid;
    padding: 0;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr auto;
    grid-template-areas:
        "navbar"
        "contentView"
        "footerView";
    overflow-y: visible;
    font-family: "Roboto", sans-serif;
    position: absolute;

    .webNavBar {
        grid-area: navbar;
    }

    .webContentView {
        grid-area: contentView;
    }

    .webFooterView {
        grid-area: footerView;
    }
}